p {
    background: rgb(255, 158, 174);
    font-family: Verdana, Dejavu sans, sans-serif;
}

.Two {
    color: rgb(13, 13, 182);
    font-size: 36px;
}

.Three,
.Four {
    font-size: 24px;
}

.Four {
    background: rgb(109, 255, 109);
    font-size: 24px;
    font-weight: bold;
}